@model IEnumerable<Curriculum_Vitae.Models.ExperienceModel>


<div class="h2">Experiencias Laborales</div>
<br />

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="h3">
                @Html.DisplayFor(model => item.Empleador)
            </span>
        </div>
        <div class="panel-body">
            <div class="h4">
                @Html.DisplayNameFor(model => model.Puesto):
                @Html.DisplayFor(model => item.Puesto)<br />
            </div>

            @Html.DisplayNameFor(model => model.FechaInicio):
            @Html.DisplayFor(model => item.FechaInicio)<br />

            @Html.DisplayNameFor(model => model.FechaFin):
            @Html.DisplayFor(model => item.FechaFin)<br />

            @Html.DisplayNameFor(model => model.Tareas):
            @foreach (var tarea in item.Tareas)
            {
                <ul>
                    <li>@Html.DisplayFor(model => tarea)</li>
                </ul>
            }
        </div>
    </div>
}
