@model IEnumerable<Curriculum_Vitae.Models.SkillsModel>

<div class="h2">Habilidades</div>
<br />

@foreach (var item in Model)
{
    <div class="list-group">
        <ul>
            <li class="list-group-item">
                <div class="h4">
                    @Html.DisplayFor(model => item.Grupo)
                </div>

                @foreach(var skill in item.Habilidades)
                {
                <ul>
                    <li>
                        @Html.DisplayFor(model => skill)
                    </li>
                </ul>
                }
            </li>
        </ul>
    </div>
}

@*

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>
*@
